parameters:
    level: max
    paths:
        - src
        - tests
    errorFormat: table
    reportUnmatchedIgnoredErrors: false

    checkUninitializedProperties: true
    checkClassCaseSensitivity: true
    checkDynamicProperties: true
